<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{if .error}}
    <div class="w-10/12 sm:w-8/12 md:w-6/12 lg:w-5/12 xl:w-4/12 mb-4">
        <div class="flex items-center bg-red-500 text-white text-sm font-bold px-4 py-3" role="alert">
           

            <p>{{ .message }}</p>
        </div>
    </div>
    {{end}}
    <form action="#" method="post">
         <input type="number" name="code" id="">
    <button type="submit" name="submit">send</button>
    </form>
   
</body>
</html>